img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    
    }
#profilepic {
    min-height: 175px;
    min-width: 175px;
    max-width: 180px;
    max-height: 180px;
}

#board1 {
   /* max-width: 800px;*/
    /*max-height: 650px;*/
    max-width: 90%;
    max-height: 60%;
    min-width: 300px;
    min-height: 300px;
    
    margin:auto;
    
}
@viewport { 
    min-zoom: 1;
    max-zoom: 2.6;
  }

