img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    
    }
#profilepic {
    min-height: 175px;
    min-width: 175px;
    max-width: 180px;
    max-height: 180px;
}

#board1 {
    max-width: 800px;
    max-height: 800px;
    min-width: 300px;
    min-height: 300px;
    width:40%; 
    height:40%;
    margin:auto;
    
}
@viewport { 
    min-zoom: 1;
    max-zoom: 2.6;
  }

